{% extends "layout.html" %}

{% block title %}
    Personal Information
{% endblock %}

{% block main %}
    <h4><p>1. Personal Information</p></h4>
        <div class="container">
            <form action="/personal" method="post">
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="first">First Name*</label>
                        {% if progress==1 %}
                            <input autocomplete="off" class="form-control" name="first" id="first" type="text" placeholder="{{data['first']}}" disabled>
                        {% else %}
                            <input autocomplete="off" class="form-control" name="first" id="first" placeholder="First Name" type="text" >
                        {% endif %}

                    </div>

                    <div class="form-group col-md">
                        <label for="first">Middle Name</label>
                        {% if progress==1 %}
                            <input autocomplete="off" class="form-control" name="middle" id="middle" placeholder="{{data['middle']}}" type="text" disabled>
                        {% else %}
                            <input autocomplete="off" class="form-control" name="middle" id="middle" placeholder="Middle Name (Optional)" type="text">
                        {% endif %}
                     </div>

                    <div class="form-group col-md">
                        <label for="last">Last Name*</label>
                        {% if progress==1 %}
                            <input autocomplete="off" class="form-control" name="last" id="last" placeholder="{{data['last']}}" type="text" disabled>
                        {% else %}
                            <input autocomplete="off" class="form-control" name="last" id="last" placeholder="Last Name" type="text">
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="first">Age*</label>
                        {% if progress==1 %}
                            <input autocomplete="off" class="form-control" name="age" id="age" placeholder="{{data['age']}}" type="number" disabled>
                        {% else %}
                            <input autocomplete="off" class="form-control" name="age" id="age" placeholder="Age" type="number">
                        {% endif %}
                    </div>

                    <div class="form-group col-md-3">
                        <label for="gender">Gender*</label>
                        {% if progress==1 %}
                        <select id="gender" name="gender" class="custom-select" placeholder="gender" disabled>
                            {% if data['gender']==0 %}
                                <option>Male</option>
                            {% elif data['gender']==1 %}
                                <option>Female</option>
                            {% elif data['gender']==2 %}
                                <option>Other</option>
                            {% endif %}
                        </select>
                        {% else %}
                        <select id="gender" name="gender" class="custom-select">
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                            <option value="2">Other</option>
                        </select>
                        {% endif %}
                     </div>

                    <div class="form-group col-md">
                        <label for="last">Citizenship*</label>
                        {% if progress==1 %}
                            <select id="citizenship" name="citizenship" class="custom-select" disabled>
                            {% if data['citizenship']==0 %}
                                <option> Singaporea Resident </option>
                            {% elif data['gender']==1 %}
                                <option>Non-Resident</option>
                            {% endif %}
                            </select>
                        {% else %}
                            <select id="citizenship" name="citizenship" class="custom-select">
                                <option disabled>Citizenship</option>
                                <option value="0">Singapore Resident</option>
                                <option value="1">Non-Resident</option>
                            </select>
                        {% endif %}
                    </div>
                </div>
                {% if progress==0%}
                    <button class="btn btn-primary" type="submit">Submit</button>
                {% endif %}
            </form>
            {% if progress==1%}
            <br>
                <button class="btn btn-danger" type="button">Clear Form</button>
            {% endif %}

        </div>

    {% if progress==1%}
        <script>
            $(document).ready(function(){
                $("button").click(function(event){
                    $.get('/clear?section=personal');
                    alert("Delete Successful")
                    window.location.replace(location);
                });
            });
        </script>
    {% endif %}

{% endblock %}